@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Nunito+Sans:wght@200&display=swap');

:root {
    --main-bg-color: #212121;
    --head-foot-color: #303030;
    --center-color: #424242;
    --center-color: #535353;
    --font-color: #F9F6EE;
}

body {
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.3;
    background-color: var(--main-bg-color);
    color: #F9F6EE;
    display: grid;

    grid-template-areas: "navBtn head head empty" 
                         "nav main img contact"
                          "foot foot foot foot";
    grid-template-columns: 11vw 40vw 30vw 17vw;
    grid-template-rows: auto 1fr auto;
}
#resume {
    grid-template-areas: "navBtn head head"
                         "nav main contact"
                         "foot foot foot";
    grid-template-columns: 11vw 70vw 17vw;
}
#activities {
    line-height: 1.4em;
}
.employer {
    margin-top: .6em;
    margin-bottom: .6em;
}
@media only screen and (max-width: 790px) {
    .contactMe p {
        display: none;
    }
    .sidepanel {
        background-color: var(--main-bg-color);
    }
    body {
        grid-template-areas: "head head" 
                             "navBtn img"
                             "nav main"
                             "foot foot";
        grid-template-columns: 20vw 80vw;
        grid-template-rows: auto auto 1fr auto;
    }
    #resume {
        grid-template-areas: "navBtn head"
                             "nav main"
                             "foot foot";
        grid-template-columns: 20vw 80vw;
        padding-right: 20vw;
    }
}

.images {
    grid-area: img;
    list-style-type: none;
}
#pfp {
    width: 16vw;
    height: auto;
    justify-self: center;
    align-self: center;
    padding-right: 3em;
}
#graphProj {
    width: 16vw;
    padding: 4em .8em 1em 0em;
    justify-self: center;
    height: auto;
}
#genAlgoProj {
    width: 27vw;
}
header {
    grid-area: head;
    text-align: left;
    padding-left: 1em;
    color: var(--font-color);
}

nav {
    grid-area: nav;
    width: 0;
    height: auto;
    z-index: 1;
    max-height: fit-content;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 1em;
    padding-bottom: 1.5em;

    position: relative;
}
.openbtn {
    grid-area: navBtn;
    align-content: center;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #42424200;
    color: var(--font-color);
    border: none;
}

.lists ul li a:hover {
    /* color: #a0a0a0; */
    color: #7bced1;
}
footer ul li a:hover {
    color: #a0a0a0;
}
.contactMe ul a li:hover {
    background-position: 0 100%;
    background-color: #727272;
    color: #eeeeee;
}
.sidepanel ul li a {
    text-decoration: none;
    font-size: 1.3em;
    color: var(--font-color);
    transition: 0.3s;
}
.sidepanel ul {
    list-style-type: none;
    justify-content: center;
}
.sidepanel > ul > li{
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}
main {
    grid-area: main;
    transition: 0.5s;
    padding: 1em 3em 1em 4em;
    justify-content: center;
    background-color: #42424270;
    color: var(--font-color);
}
main > h1 {
    text-align: center;
}
footer {
    grid-area: foot;
    text-align: center;
    /* padding-left: 3em; */
}
footer ul {
    list-style-type: none;
    padding-top: 3em;
    padding-bottom: 0.7em;
}
footer ul li {
    display: inline;
    padding: 1.5em 3em 2em 3em;
}
footer ul li a {
    text-decoration: none;
    color: var(--font-color);
}
footer p {
    text-align: center;
    max-width: 100%;
    line-height: .8 ;
}
.empty {
    grid-area: empty;
}
/* header: position */
h1, h2, h3 {
    line-height: 1.0;
}
p {
    max-width: 90%;
}

.contactMe {
    grid-area: contact;
    align-self: center;
    align-content: center;
    justify-self: right;
    text-align: right;
    padding-right: 1em;

    position: fixed;
    right: 0;
    top: 30%;
}
.contactMe > ul {
    list-style-type: none;
}
.contactMe > ul > a > li {
    line-height: 0;
    display: flex;
    justify-content: space-between;
    /* display: inline; */
    align-self: center;
    margin-top: .3em;
    margin-bottom: .3em;
    padding: .5em .4em .5em .4em;
    background-color: var(--head-foot-color);


    /*animation*/
    background: linear-gradient(to right, #4e4e4e 50%, var(--head-foot-color) 50%, var(--head-foot-color));
    background-clip: text;
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
    
}
.contactMe p {
    max-width: 100%;
    font-size: 15px;
    /* justify-self: right; */
}
.contactMe > ul > a {
    text-decoration: none;
    color: var(--font-color);
}
.contactMe img {
    padding-right: .8em;
}
.projDetails {
    list-style-type: '- ';
}
#portfolioItems {
    list-style-type: none;
    justify-content: left;
}
#portfolioItems a {
    /* text-decoration: none; */
    color: #5f9ea0;
}
#portfolioItems a:hover {
    color: #7bced1;
}
#portfolioMain {
    justify-content: left;
    padding: 1em 3em 1em 2em;
}
#resume ul {
    list-style-type: none;
    /* padding: 1em 2em 1em 1em; */
}
#experienceList li ul {
    list-style-type: circle;
}

/************************************
* START BACKGROUND
*/
html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 14s ease-in-out infinite alternate;
    background-image: linear-gradient(292deg, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 20%,rgba(151, 151, 151, 0.03) 20%, rgba(151, 151, 151, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(254, 254, 254, 0.03) 60%, rgba(254, 254, 254, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(62deg, rgba(34, 34, 34, 0.03) 0%, rgba(34, 34, 34, 0.03) 20%,rgba(171, 171, 171, 0.03) 20%, rgba(171, 171, 171, 0.03) 40%,rgba(206, 206, 206, 0.03) 40%, rgba(206, 206, 206, 0.03) 60%,rgba(210, 210, 210, 0.03) 60%, rgba(210, 210, 210, 0.03) 80%,rgba(69, 69, 69, 0.03) 80%, rgba(69, 69, 69, 0.03) 100%),linear-gradient(314deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 20%,rgba(254, 254, 254, 0.03) 20%, rgba(254, 254, 254, 0.03) 40%,rgba(178, 178, 178, 0.03) 40%, rgba(178, 178, 178, 0.03) 60%,rgba(211, 211, 211, 0.03) 60%, rgba(211, 211, 211, 0.03) 80%,rgba(73, 73, 73, 0.03) 80%, rgba(73, 73, 73, 0.03) 100%),linear-gradient(32deg, rgba(182, 182, 182, 0.01) 0%, rgba(182, 182, 182, 0.01) 12.5%,rgba(208, 208, 208, 0.01) 12.5%, rgba(208, 208, 208, 0.01) 25%,rgba(178, 178, 178, 0.01) 25%, rgba(178, 178, 178, 0.01) 37.5%,rgba(143, 143, 143, 0.01) 37.5%, rgba(143, 143, 143, 0.01) 50%,rgba(211, 211, 211, 0.01) 50%, rgba(211, 211, 211, 0.01) 62.5%,rgba(92, 92, 92, 0.01) 62.5%, rgba(92, 92, 92, 0.01) 75%,rgba(56, 56, 56, 0.01) 75%, rgba(56, 56, 56, 0.01) 87.5%,rgba(253, 253, 253, 0.01) 87.5%, rgba(253, 253, 253, 0.01) 100%),linear-gradient(247deg, rgba(103, 103, 103, 0.02) 0%, rgba(103, 103, 103, 0.02) 12.5%,rgba(240, 240, 240, 0.02) 12.5%, rgba(240, 240, 240, 0.02) 25%,rgba(18, 18, 18, 0.02) 25%, rgba(18, 18, 18, 0.02) 37.5%,rgba(38, 38, 38, 0.02) 37.5%, rgba(38, 38, 38, 0.02) 50%,rgba(246, 246, 246, 0.02) 50%, rgba(246, 246, 246, 0.02) 62.5%,rgba(9, 9, 9, 0.02) 62.5%, rgba(9, 9, 9, 0.02) 75%,rgba(167, 167, 167, 0.02) 75%, rgba(167, 167, 167, 0.02) 87.5%,rgba(86, 86, 86, 0.02) 87.5%, rgba(86, 86, 86, 0.02) 100%),linear-gradient(90deg, hsl(194,0%,10%),hsl(194,0%,10%));
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:17s;
  }
  
  .bg3 {
    animation-duration:22s;
  }

  /* #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(292deg, rgba(150, 150, 150, 0.03) 0%, rgba(150, 150, 150, 0.03) 20%,rgba(151, 151, 151, 0.03) 20%, rgba(151, 151, 151, 0.03) 40%,rgba(215, 215, 215, 0.03) 40%, rgba(215, 215, 215, 0.03) 60%,rgba(254, 254, 254, 0.03) 60%, rgba(254, 254, 254, 0.03) 80%,rgba(112, 112, 112, 0.03) 80%, rgba(112, 112, 112, 0.03) 100%),linear-gradient(62deg, rgba(34, 34, 34, 0.03) 0%, rgba(34, 34, 34, 0.03) 20%,rgba(171, 171, 171, 0.03) 20%, rgba(171, 171, 171, 0.03) 40%,rgba(206, 206, 206, 0.03) 40%, rgba(206, 206, 206, 0.03) 60%,rgba(210, 210, 210, 0.03) 60%, rgba(210, 210, 210, 0.03) 80%,rgba(69, 69, 69, 0.03) 80%, rgba(69, 69, 69, 0.03) 100%),linear-gradient(314deg, rgba(235, 235, 235, 0.03) 0%, rgba(235, 235, 235, 0.03) 20%,rgba(254, 254, 254, 0.03) 20%, rgba(254, 254, 254, 0.03) 40%,rgba(178, 178, 178, 0.03) 40%, rgba(178, 178, 178, 0.03) 60%,rgba(211, 211, 211, 0.03) 60%, rgba(211, 211, 211, 0.03) 80%,rgba(73, 73, 73, 0.03) 80%, rgba(73, 73, 73, 0.03) 100%),linear-gradient(32deg, rgba(182, 182, 182, 0.01) 0%, rgba(182, 182, 182, 0.01) 12.5%,rgba(208, 208, 208, 0.01) 12.5%, rgba(208, 208, 208, 0.01) 25%,rgba(178, 178, 178, 0.01) 25%, rgba(178, 178, 178, 0.01) 37.5%,rgba(143, 143, 143, 0.01) 37.5%, rgba(143, 143, 143, 0.01) 50%,rgba(211, 211, 211, 0.01) 50%, rgba(211, 211, 211, 0.01) 62.5%,rgba(92, 92, 92, 0.01) 62.5%, rgba(92, 92, 92, 0.01) 75%,rgba(56, 56, 56, 0.01) 75%, rgba(56, 56, 56, 0.01) 87.5%,rgba(253, 253, 253, 0.01) 87.5%, rgba(253, 253, 253, 0.01) 100%),linear-gradient(247deg, rgba(103, 103, 103, 0.02) 0%, rgba(103, 103, 103, 0.02) 12.5%,rgba(240, 240, 240, 0.02) 12.5%, rgba(240, 240, 240, 0.02) 25%,rgba(18, 18, 18, 0.02) 25%, rgba(18, 18, 18, 0.02) 37.5%,rgba(38, 38, 38, 0.02) 37.5%, rgba(38, 38, 38, 0.02) 50%,rgba(246, 246, 246, 0.02) 50%, rgba(246, 246, 246, 0.02) 62.5%,rgba(9, 9, 9, 0.02) 62.5%, rgba(9, 9, 9, 0.02) 75%,rgba(167, 167, 167, 0.02) 75%, rgba(167, 167, 167, 0.02) 87.5%,rgba(86, 86, 86, 0.02) 87.5%, rgba(86, 86, 86, 0.02) 100%),linear-gradient(90deg, hsl(194,0%,10%),hsl(194,0%,10%));
  } */

  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
/********************************************
* END BACK GROUND
*/

/********************************************
* BEGIN PARTICLES
*/
/* #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #b61924;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  } */
/********************************************
* END PARTICLES
*/

/********************************************
* BEGIN DESK
*/
svg {
    width: 18vw;
    height: 18vw;
    align-self: center;
    padding-left: 2em;
  }
  
  /* SMOKE */
  #smoke-1 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s ease infinite;
  }
  
  #smoke-2 {
    stroke-dasharray: 0, 10;
    animation: smoke 6s 0.5s ease infinite;
  }
  
  @keyframes smoke {
    0% { stroke-dasharray: 0, 10; }
    50% { stroke-dasharray: 10, 0; }
    100% { stroke-dasharray: 10, 0; opacity: 0; }
  }
  
  /* WRITING */
  #line-1 {
    opacity: 0;
    animation: writing 0.5s linear forwards;
  }
  
  #line-2 {
    opacity: 0;
    animation: writing 0.5s 1s linear forwards;
  }
  
  #line-3 {
    opacity: 0;
    animation: writing 0.5s 1.5s linear forwards;
  }
  
  #line-4 {
    opacity: 0;
    animation: writing 0.5s 2s linear forwards;
  }
  
  @keyframes writing {
    0% { width: 0px; opacity: 1;}
    100% { width: 14px; opacity: 1;}
  }
/********************************************
* END DESK
*/